target/
obj/
bin/
.idea/
.project
*.iml
.DS_Store
*.suo
*.user

# Nuget packages
packages/

# Eclipse Files
.classpath
.settings/

# cpp Files
*.o
*.a
*.d
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

lib/
