<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>NAME</th>
                <th>UNITS</th>
                <th>PRICE</th>
            </tr>
            <tr th:each="prod,iterStat : ${portfolioList}" th:class="${iterStat.odd}? 'odd'">
                <td th:text="${prod.stockSymbol}">PFG</td>
                <td th:text="${prod.units}">3</td>
                <td th:text="${prod.value}">$123.45</td>
            </tr>
        </table>
    </div>
    <form method="post" action="/portfolio">
        <label>
            Stock Symbol:
            <input type="text" name="stock"/>
        </label>
        <label>
            Shares:<input type="text" name="shares"/>
        </label>
        <button type="submit">Buy</button>
    </form>
    <form method="post" action="/portfolio">
        <label>
            Stock Symbol:
            <input type="text" name="stock"/>
        </label>
        <label>
            Total Amount: <input type="text" name="amount"/>
        </label>
        <button type="submit">Buy</button>
    </form>
</div>

</body>
</html>